@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?gd2dtp');
  src:  url('../fonts/icomoon.eot?gd2dtp#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gd2dtp') format('truetype'),
    url('../fonts/icomoon.woff?gd2dtp') format('woff'),
    url('../fonts/icomoon.svg?gd2dtp#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-justify:before {
  content: "\e900";
}
.icon-basket:before {
  content: "\e901";
  color: #e8e8e8;
}
.icon-l_k:before {
  content: "\e902";
  color: #e8e8e8;
}
.icon-logo:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e904";
}
