* {
  padding: 0;
  margin: 0;
}

.cotaner {
  margin: 0 auto;
  max-width: 1140px;
}

@-webkit-keyframes myAnim {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes myAnim {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

body {
  font-family: Lato;
}

.backBlack {
  background-color: black;
}

.top {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_span {
  position: absolute;
  background-color: #F16D7F;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  right: -15%;
  top: -15%;
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
  width: 19px;
  height: 19px;
}

.top_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 17%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

.top_right__in {
  padding: 3%;
  font-size: 25px;
  position: relative;
}

.top_right__in:hover .menu {
  display: block;
}

.top_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  text-decoration: none;
  margin-right: 30px;
}

.basket {
  position: relative;
  cursor: pointer;
}

.basket_product {
  position: absolute;
  top: 115%;
  left: 31%;
  min-width: 150%;
  background: #fff;
  font-size: initial;
}

.basket_product::before {
  content: "";
  background-color: #fff;
  width: 12px;
  height: 12px;
  position: absolute;
  top: -6px;
  left: 95px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.basket-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 3% 2%;
  background: #f8f5f5;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.basket-item {
  margin: 0 10px;
}

.basket-btn {
  margin: 5px 0;
  border: transparent;
}

.button_top {
  border: transparent;
  background-color: transparent;
}

.search {
  border-bottom: 3px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
}

.search-field {
  background-color: transparent;
  border: transparent;
  font-size: 25px;
  padding-left: 10px;
  width: 100%;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-field:focus {
  outline: none;
}

.img {
  width: 25%;
}

.icon-search {
  color: #fff;
  font-size: 30px;
}

.icon-align-justify {
  color: #fff;
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  background: #FFFFFF;
  top: 100%;
  right: 0%;
  min-height: 600px;
  max-width: 232px;
  padding: 45% 45% 0 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: -5px 5px 30px 0px #b1b0b0;
          box-shadow: -5px 5px 30px 0px #b1b0b0;
}

.menu_button {
  margin-left: 90%;
  border: transparent;
  background: #fff;
}

.menu_text {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  display: block;
  list-style-type: none;
}

.menu_text_top {
  font-weight: bold;
  color: #000000;
  min-width: 232px;
  margin-bottom: 14%;
}

.menu_text_red {
  color: #F16D7F;
  margin-bottom: 12px;
}

.menu_text_colorA {
  color: #6F6E6E;
  text-decoration: none;
  margin: 0 0 4% 13%;
}

.menu_text_colorA:hover {
  color: #F26376;
  border-bottom: 1px solid #F26376;
}

.menu_text_colorA:last-of-type {
  margin-bottom: 12%;
}

.article_top {
  background-color: #F1E4E6;
  margin-bottom: 6%;
}

.common {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.common_left {
  max-width: 48%;
}

.common_left img {
  width: 100%;
}

.common_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 48%;
}

.common_right_line {
  min-width: 3%;
  background-color: #F16D7F;
  margin-right: 5%;
}

.common_right_text {
  max-width: 100%;
}

.common_right_text_h3 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.common_right_text_p {
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  min-width: 120%;
}

.common_right_text_p span {
  color: #F26376;
}

.section_content {
  padding: 0 2% 0;
  text-align: center;
}

.section_content_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section_item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (20%)[5];
      grid-template-columns: repeat(5, 20%);
  -ms-grid-rows: (20%)[4];
      grid-template-rows: repeat(4, 20%);
  text-decoration: none;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.section_item_left:hover {
  -webkit-transform: translateX(20%) scale(1.1);
          transform: translateX(20%) scale(1.1);
  -webkit-box-shadow: 6px 6px 20px 1px #fad3d7;
          box-shadow: 6px 6px 20px 1px #fad3d7;
  z-index: 1;
}

.section_item_centr:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 6px 20px 1px #fad3d7;
          box-shadow: 0 6px 20px 1px #fad3d7;
}

.section_item_right:hover {
  -webkit-transform: translateX(-20%) scale(1.1);
          transform: translateX(-20%) scale(1.1);
  -webkit-box-shadow: -6px 6px 20px 1px #fad3d7;
          box-shadow: -6px 6px 20px 1px #fad3d7;
  z-index: 1;
}

.section_item_low:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 0 0 30px 3px #fad3d7;
          box-shadow: 0 0 30px 3px #fad3d7;
  z-index: 1;
}

.section_item_left:hover .section_item__img, .section_item_centr:hover .section_item__img, .section_item_right:hover .section_item__img, .section_item_low:hover .section_item__img {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}

.section_item_right:hover .section_text, .section_item_centr:hover .section_text, .section_item_low:hover .section_text, .section_item_left:hover .section_text {
  -webkit-animation: myAnim 3s ease 0s infinite normal forwards;
          animation: myAnim 3s ease 0s infinite normal forwards;
}

.section_item__width {
  width: 32%;
}

.section_item__down {
  margin-top: 2%;
  margin-bottom: 9%;
}

.section_item__img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
  z-index: -1;
}

.section_text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.section_text_p {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.section_text_h3 {
  font-weight: normal;
  font-size: 25px;
  line-height: 30px;
  color: #F26376;
}

.section_heading_h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.section_heading_p {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.section_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product_card {
  width: 32%;
  margin-bottom: 2%;
  background-color: #F8F8F8;
  position: relative;
}

.product_card_button {
  display: none;
  position: absolute;
  top: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.product_card_button_add {
  width: 30%;
  border: 1px solid #FFFFFF;
  padding: 3% 4%;
}

.product_card_button_add:hover {
  -webkit-box-shadow: 0px 0px 15px #fff;
          box-shadow: 0px 0px 15px #fff;
}

.product_card_button_span {
  margin-left: 2%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.product_card:hover .product_card_img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%);
}

.product_card:hover .product_card_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_card:hover {
  -webkit-box-shadow: -5px 5px 10px 1px #c3bcbc;
          box-shadow: -5px 5px 10px 1px #c3bcbc;
}

.product_card_img {
  width: 100%;
}

.product_card_text {
  padding: 6% 3%;
  text-align: start;
}

.product_card_text_h3 {
  margin-bottom: 5%;
  font-weight: normal;
  font-size: 30px;
  line-height: 16px;
  color: #222222;
}

.product_card_text_p {
  margin-bottom: 5%;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.product_card_text_price {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .product_card {
    width: 48%;
  }
  .top {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.section_button {
  text-decoration: none;
  border: 1px solid #F16D7F;
  padding: 1.3% 3.3%;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.section_button:hover {
  background: #F16D7F;
  color: #fff;
  -webkit-box-shadow: -7px 10px 10px 1px #f0aaaa;
          box-shadow: -7px 10px 10px 1px #f0aaaa;
}

.footer_top {
  min-height: 341px;
  max-width: 1600px;
  margin: 9% auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_top_block {
  width: 30%;
  min-height: 170px;
}

.footer_top_block_h3 {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
  margin: 8% 0 4%;
}

.footer_top_block_p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #FBFBFB;
}

.footer_center {
  min-height: 448px;
  max-width: 1600px;
  background-image: url(../img/fon_footer.jpg);
  background-size: cover;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_center_left {
  width: 48%;
}

.footer_center_left_text {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  max-width: 66%;
  margin: 0 auto;
  margin-top: 5%;
}

.footer_center_right {
  width: 48%;
}

.footer_center_right_h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
}

.footer_center_right_p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 4%;
}

.footer_center_right_input {
  border: transparent;
  background: #E1E1E1;
  border-radius: 20px 0 0 20px;
  padding-left: 20px;
  min-height: 49px;
  min-width: 256px;
}

.footer_center_right_button {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #F16D7F;
  border: transparent;
  min-height: 49px;
  min-width: 100px;
  border-radius: 0 20px 20px 0;
  margin-left: -5px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.footer_center_right_button:hover {
  border: 1px solid #F16D7F;
  background: #f4f4f4b3;
  color: #F26376;
}

.footer_low {
  min-height: 79px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_low_left {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.footer_low_rigth {
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  padding: 16px;
  margin-left: 8px;
  background-color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.footer_low_rigth:hover {
  background-color: #F16D7F;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */